<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Workouts - NovaFlex Fitness</title>
    <link rel="stylesheet" href="../static/css/wo.css">
</head>
<body>

<header>
    <h1>NovaFlex Fitness</h1>
    <nav>
        <ul>
            <li><a href="{{ home_url }}">Home</a></li>
            <li><a href="{{ virtual_workouts_url }}" class="active">Virtual Workouts</a></li>
            <li><a href="{{ gyms_near_you_url }}">Gyms Near You</a></li>
            <li><a href="">Yoga</a></li>
            <li><a href="https://www.instagram.com/akshat_281204?igsh=MTE5aDl6cjhuNnRiNw==">About Us</a></li>
            <li><a href="{{ user_profile_url }}">Logout</a></li>
        </ul>
    </nav>
</header>

<div><h2 id="cen">Choose Your Workout</h2></div>
<section id="workout-categories">
    <div class="workout-category">
        <h3>Cardio Workouts</h3>
        <p>Boost your cardiovascular health with our high-energy cardio workouts.</p>
        <a href="#cardio-videos">View Complete Guide</a>
    </div>

    <div class="workout-category">
        <h3>Chest Workout</h3>
        <p>Boost your chest with our high strength training exercises.</p>
        <a href="#chest-videos">View Complete Guide</a>
    </div>

    <div class="workout-category">
        <h3>Shoulder Workout</h3>
        <p>Boost your shoulder flexibility and strength with our high-energy shoulder workouts.</p>
        <a href="#shoulder-videos">View Complete Guide</a>
    </div>

    <div class="workout-category">
      <h3>Legs Workout</h3>
      <p>Boost your leg with our high-energy leg workouts.</p>
      <a href="#legs-videos">View Complete Guide</a>
    </div>

    <div class="workout-category">
      <h3>Back Workout</h3>
      <p>Boost your back strength with our high-energy back workouts.</p>
      <a href="#back-videos">View Complete Guide</a>
    </div>

    <div class="workout-category">
      <h3>Arm Workout</h3>
      <p>Boost your Arm strength including both biceps and triceps with our high-energy arm workouts.</p>
      <a href="#arm-videos">View Complete Guide</a>
    </div>
</section>

<section id="cardio-videos">
    <h2>Cardio Workouts</h2>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xngUfoWLkFw?feature=shared" frameborder="0" allowfullscreen></iframe>
    </div>
</section>

<section id="chest-videos">
  <div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SML-fA6EJh4?feature=shared" frameborder="0" allowfullscreen></iframe>
</div>
</section>
<h2>Chest Workouts</h2>

<section id="shoulder-videos">
  <h2>Shoulder Workouts</h2>
  <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ldrG5GTgF_0?feature=shared" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section id="legs-videos">
  <h2>Legs Workouts</h2>
  <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ISk3x9E7ars?feature=shared" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section id="back-videos">
  <h2>Back Workouts</h2>
  <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/kCF9MmHAJSk?feature=shared" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section id="arm-videos">
  <h2>Arm Workouts</h2>
  <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/K7RFdtPi2oU?feature=shared" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<footer>
  &copy; 2024 NovaFlex Fitness. All Rights Reserved.
</footer>

</body>
</html>
